@font-face {
    font-family: 'large';
    src: url(/zarareplit/font/NeueHelveticaforZara-Lt-2W5WYPEJ.c3fdc7d4.woff2);
}
@font-face {
    font-family: 'medium';
    src: url(/zarareplit/font/NeueHelveticaforZara-Medium-3QAMVW7N.8456b130.woff2);
}
@font-face {
    font-family: 'small';
    src: url(/zarareplit/font/NeueHelveticaforZara-Roman-H6FBO4XD.2e3e13bd.woff2);
}

